h1 {
    text-align: center;
    font-size: 50px;
}

#page_wrapper p {
    text-align: justify;
}
#page_wrapper {
    border-top:#D3D3D3 5px solid; 
    border-bottom:#D3D3D3 5px solid; 
}

.content_page {
    margin: 20px 0;
}
.testo_bio {
    font-size: x-large;
}
.opere_page {
    font-size: large;
}
.jaccuse_page {
    margin: 20px 0;
}

hr {
    margin-top: 20px;
}

.hr_first {
    border-top: 3px double #000;
    color: #000;
    overflow: visible;
    text-align: center;
    height: 5px;
}  
.hr_first:after {
    background: #fff;
    content: '⁂';
    padding: 0 4px;
    position: relative;
    top: -13px;
}
  
.content_page img {
    padding: 2px;
    border: 1px solid ;
    height: 13em;
    margin: 0 10px;
}
.opere_page img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.immagine_modal {
    cursor: pointer;
    transition: 0.3s;
}

.immagine_modal:hover {opacity: 0.7;}

/* Modal (background) */
.modal {
    font-family: Arial, Helvetica, sans-serif;
    display: hidden; /* hidden */
    position: fixed; 
    z-index: 1;
    padding-top: 100px; /* posizione del box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* scroll */
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

/* Immagine del Modal */
.modal-content {
    margin: auto;
    text-align: center;
    display: block;
    height: 80%;
    max-height: 700px;
    width: auto;
}

/* Descrizione del Modal */
#caption {
    margin: auto;
    display: block;
    height: 80%;
    max-height: 700px;
    color: #ccc;
    padding: 10px 0;
    width: auto;
    text-align: center;
}

/*Animazione*/
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Media queries - immagine 100% */
@media only screen and (max-width: 700px){
    .modal-content {
        height: 100%;
    }
}


#jaccuse_photo {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 2px;
    border: 1px solid ;
}

.image_centered {
    text-align: center;
}

.jaccuse_page p {
    font-size: large;
    text-indent: 1em; /* Indentazione per il primo paragrafo */
    margin: 0;
}

.opere_page h2 {
    margin-top: 30px;
}

.opere_page img {
    margin: 5px;
}

#fecondite {
    height: 7em;    
}

