body > div {
    background-color: #fff7e6;
}

/*la timeline */
.main-timeline {
    position: relative;
}

/*la timeline  */
.main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
    background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80, 80, 80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
    background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
}

/* i vari container */
.timeline {
    position: relative;
    background-color: inherit;
    width: 50%;

}

/* i vari cerchi della timeline*/
.timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #333;
    border: 5px solid #D3D3D3;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* cintainer nella sinistra*/
.left {
    padding: 0px 40px 20px 0px;
    left: 0;
    
}

/* container nella destra */
.right {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/*frecce del container di sinistra*/
.left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #D3D3D3;
}

/*frecce del container di destra*/
.right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #D3D3D3 transparent transparent;
}

/* posizione del cerchio esatta (centrat nella timeline) */
.right::after {
    left: -12px;
}

/* Media queries - timeline responsiva */
@media screen and (max-width: 600px) {
    /* la timeline si posiziona nella sinistra*/
    .main-timeline::after {
        left: 31px;
    }

    .timeline {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* tutti i cechi devono essere a sinistra (come la timeline) */
    .timeline::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* tutti i cerchi sono nello stesso punto */
    .left::after,
    .right::after {
        left: 18px;
    }

    .left::before {
        right: auto;
    }

    /* tutti i container si devono comportare come quelli di classe .left */
    .right {
        left: 0%;
    }
}

.content_page {
    border-top:#D3D3D3 5px solid; 
    border-bottom:#D3D3D3 5px solid; 
}

.card p {
    font-size: large;
}

.card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}