body {
    background-image: url("../images/wallpaper.jpg");
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Gentium Book Plus', Georgia, 'Times New Roman', Times, serif;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    font-weight: 700;
}

nav {
    background-color: #f8f9fa;
    padding: 10px;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 5px 0;
    text-align: center;
    width: 100%;
}

.container {
    position: relative;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 800;
}

@media (max-width:750px)
{
  .bottom-left{
    font-size: 4vw;
  }
}

#titleHome {
    font-family: 'Moon Dance', sans-serif, cursive;
    font-weight: 700;
    font-size: 4em; 
    padding:0rem;
}

#collapsibleNavbar{
  text-align: left;
}

#page_wrapper {
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    min-height: calc(100vh); 
    background-color: white; 
}

#biopic {
    font-size:x-large;
    text-align: justify;
}

#first_block {
    flex: 1;
    padding: 3px 0 0 0;
    background-color: #D3D3D3;

}

#second_block {
    flex: 1;
    padding: 10px;
    background-color: azure;
    margin: 10px;
}

#third_block {
  flex: 1;
  background-color: azure;
  margin: 10px;
}

#zola_potrait {
    padding: 0;
    margin-right: 0%;
}
#zola_dipinto {
  height:fit-content
}

#sezione_cit {
  font-size: x-large;
}

#contesto {
    text-align: right;
}

#libri_vendita{
    justify-content: space-between;   
    padding: 20px;
}
#libri_vendita div{
    text-align: center;
}

#libri_vendita div img {
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-right: 2px solid rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  border-top: 2px solid rgba(255, 255, 255, 0.6);
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 200px;
  margin: 20px 0;

}
#libri_vendita div img:hover{
  transform: scale(1.1); 
}

.owl-theme {
  margin: 0;
}

.btn-primary {
  background-color: #343a40;
}

#link_homepage{
  text-decoration: none;
}
#link_homepage span {
  display: inline-block;
  transform: translateX(20%);
  transition: 1s;
}

#link_homepage:hover > span {
  transform: translateX(60%);
}